[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Photo Combiner
Name[zh]=美图快拼
Exec=/usr/bin/invoker --type=d -s /opt/PhotoCombiner/bin/PhotoCombiner
Icon=/usr/share/icons/hicolor/80x80/apps/PhotoCombiner80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
